/* global : reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
/* global : variables */
:root {
    /* spacing */
    --sp-sm: 1%;
    --sp-md: 5%;
    --sp-lg: 15%;

    /* color */
    --main: #000;
    --alt: #BBB;
    --sub: #FFF;
    --acc: rgb(10, 177, 93);

    /* === dev borders === */

    --wireframe: 3px solid darkblue;
    --component: 3px dotted darkgreen;
    --debugging: 3px dotted darkred;

}

/* section : app */
.app {
    position: relative;
    background: var(--sub);
}

/* nav : nav */
.nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(25px, auto);

    min-height: 20vh;
    width: 100%;

    background: var(--main);
    color: var(--sub);
    
    /* border: var(--wireframe); */
}
.nav .elmnts {
    grid-column: span 6;
    grid-row: span 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.nav h2 {
    color: var(--acc);
}
/* nav : lists */
.nav ul {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    
    /* border: var(--component); */
    
}
.nav ul li {
    list-style-type: none;
    padding-bottom: var(--sp-md);    
}
.nav ul li:nth-child(1) {
    padding-top: var(--sp-md);
}
.nav a {
    color: var(--sub);
    letter-spacing: 2px;
    font-size: 1.2rem;
    text-decoration: none;
    width: 100%;
}

/* nav : title */
.nav h2 {
    font-size: 1.8rem;
    letter-spacing: 2px;
    padding: var(--sp-md);
    text-align: center;
}
.nav p {
    font-size: 1.25rem;
    font-style: italic;
    letter-spacing: 1px;
    
    text-align: center;

    padding-left: var(--sp-md);
    padding-right: var(--sp-md);
    padding-bottom: var(--sp-sm);
}

/* section : content */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    width: 100%;
}

/* article : article */
.article {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(25px, auto);

    min-height: 50vh;
}
.article .elmnts {
    grid-column: span 6;
    grid-row: span 6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    min-height: 50vh;
    
    padding: var(--sp-sm);
}
.article .elmnts:nth-child(1) {
    background: var(--acc);
    color: var(--sub);
}
.article .elmnts:nth-child(2) {
    background: var(--main);
    color: var(--sub);
}
.article .elmnts:nth-child(3) {
    background: var(--acc);
    color: var(--sub);
}
.article .elmnts p {
    padding: var(--sp-lg);
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.35rem;
    
}
.article .elmnts h2 {
    padding-top: var(--sp-md);
    font-size: 1.85rem;
    letter-spacing: 3px;
}
/*ul : features */
.features {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;

    width: 100%;
    height: 100%;

    /* border: var(--wireframe); */
}
.features li {
    padding:var(--sp-lg);
    
    list-style-type: none;
    text-align: center;
    font-style: italic;
    font-size: 1.15rem;
    letter-spacing: 1px;

    
    
}

/* section : preview */
.preview {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(25px, auto);

    position: relative;
    height: 100%;
    min-height: 50vh;
    width: 100%;
}
.preview .panels {
    grid-column: span 6;
    grid-row: span 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    padding: var(--sp-md);

    width: 100%;
    height: 100%;
}
.preview .panels img {
    height: 100%;
    width: 100%;
}

/* footer :footer */
.footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(25px, auto);

    min-height: 20vh;
    
    background: var(--main);
    color: var(--sub);
}
.footer .elmnts {
    grid-column: span 3;
    grid-row: span 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer .elmnts:nth-child(1) {
    color: var(--acc);
}
.footer h5 {
    font-size: 1.3rem;
    letter-spacing: 2px;
}
.footer .elmnts p {
    padding: var(--sp-md);
    letter-spacing: 1px;
    text-align: center;
}

/* section : modal */
.modal {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(25px, auto);
    
    min-height: 100vh;
    height: 100%;
    width: 100%;

    color: #FFF;
}
.modal .elmnts {
    grid-column: span 6;
    grid-row: span 2;

    height: 100%;
    width: 100%;
}
.modal h2 {
    letter-spacing: 2px;
    padding: var(--sp-md);
    text-align: center;
}
.modal p {
    text-align: center;
    padding: var(--sp-md);
}

/* form : form */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100%;
    width: 100%;
    
    color: #FFF;
}
.form input {
    padding: var(--sp-md);
    margin: var(--sp-md);
    width: 90%;
}
.form button {
    width: 30%;
    padding: var(--sp-sm);
    margin: var(--sp-sm);
}
.form h3 {
    text-align: center;
    padding: var(--sp-md);
    letter-spacing: 2px;
    font-size: 1.5rem;
    margin-top: var(--sp-lg);
}
.form p {
    padding-top: var(--sp-md);
    letter-spacing: 2px;
    font-size: 1.25rem;
    text-align: center;
}

/* button : login */
.btn_login {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 50%;
    
    background: transparent;
    border: 3px solid var(--sub);
    color: var(--sub);

    letter-spacing: 2px;
    font-size: 1.4rem;
    padding: var(--sp-md);

    transition: 200ms all ease-in;
    margin: var(--sp-md);
}